.box1 {
    /*TODO*/
    background-color: blue;
    padding: 22px;
    width:250px;
    margin-left: 100px;
}

.box2 {
    /*TODO*/
    background-color: green;
    padding: 22px;
    border: dashed 5px black;
    margin-top: 10px;
}

.box2 img {
    width: 100%;
}