.box1 {
    /*TODO*/
    border: 5px solid black;
    padding: 20px;
    background-color: blue;
    width: 255px;
    margin: 10px 100px;
}

.box2 {
    /*TODO*/
    border: 5px dashed black;
    padding: 20px;
    background-color: green;
    width: 650px;
}